*{
    padding: 1;
    margin: 0;
    font-family: cursive, sans-serif;
    line-height: 1.5;
}

header{
    background-color: rosybrown;
    position: fixed;        
  top: 0;
  width: 100%;
  
}

footer{
    background-color: rosybrown;
    position: fixed;        
    bottom: 0;
    width: 100%;
}

.viewMore{
    padding-bottom: 5%;
    color: black;
    text-decoration: none;
}

body{
    background-color: #e0e0e0;
}

.logo img{
    height: 60px;
    width: 60px;
}


.socailImages img{
    height: 20px;
    width: 22px;
}

/* top navbar */ 

.navList{
    display: flex;
    list-style: none;
    margin:0;
    padding: 0;
}

  .login a{
    text-decoration: none;
    color: black;
  }
  .logo{
    width: 95%;
    margin-left: 1%;
  }
  
  .login{
    margin: auto;
    margin-right: 2%;
  }
  .Content{
    padding-top: 5%;
    padding-bottom: 5%;
}
  

  /* bottom navbar */


  .contact a{
    text-decoration: none;
    color: black;
  }

  .contact{
    width: 45%;
    margin: auto;
    margin-left: 2%;
    /* margin: 0%; */
  }
  
  .socailImages{
    margin-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.copyRight{
    margin: auto;
    width: 45%;
    /* padding-top: 3%; */
    font-size: 10px;
  }


  /* modals for login */

.footer-login{
  text-align: center;
  padding-bottom: 2%;
}

.modal-form{
  text-align: center;
}

#modal-dialog{
  bottom: 30vh;
}