#discription{
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 1%;
  margin-bottom: 2%;

}


#photo img {
  max-height: 350px;

}

.table1{
   /* margin-top: 7%; */
   margin-left: 5%;
   /* margin-right: 5%; */
   border-collapse: collapse;
   height: 400px;
   width: 90%;
  
}


input[type=text ], select {
 /* width: 100%; */
 margin: 20px 0;
}

input[type=number], select {
 /* width: 60%; */
 margin: 20px 0;
}
input[type=date], select {

 margin: 20px 0px;
 float: right;
 width: 100%;
}



/* input {
 float: right;
 width: 100%;
 clear: both;
} */

table{
 padding-left: 20%;
}

.btn{
 padding: 4%;
}


.control-prev-icon{
font-size: 55px;
color: rosybrown;
margin-right: 220%;
}
.control-next-icon{
font-size: 55px;
color: rosybrown;
margin-right: 100%;
}

#photo{
margin-left: 20%;
}
