.images{
    display: flex;
    /* flex-wrap: wrap; sets whether flex items are forced onto one line or can wrap onto multiple lines. */
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    
    
}

@media (max-width: 800px) {
    .images {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}


.photo{
    padding: 4%;
    
    
}

.photo img{
    height: 150px;
    width: 150px;
    border-radius: 25%;
    box-shadow: 10px 10px 10px grey;
    
    
}

#backgroundImage{
    background: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 580px;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding-top: 10%; */
    /* text-align: center; */
}


.searchBar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid transparent;
    background-color: #f1f1f1;
    border-radius: 12px;
    width: 30%;
    padding: 10px;
    font-size: 16px;
    outline: none;
    
}


.overlay {
    position: absolute; 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    border-radius: 25%;
    height: 150px;
    width: 150px;
    top: 15.7%;
    opacity:0;
    transition: .5s ease;
}

.photo {
    position: relative;
    /* width: 100%; */
    /* max-width: 300px; */
    
  }
  
  .photo:hover .overlay {
      opacity: 1; 
    }
  
    .text{
        margin-top: 45%;
        margin-left: 40%;
    }