.selectHotel img{
    height: 500px;
    width: 500px;
}

.selectHotel{
    margin: auto;
    width: 50%;
    height: 20%;
    background-color: rgb(132,136,139);
    margin-top: 2%;
    margin-bottom: 2%;

}

.paymentDetail{
    margin: 2%;
}

.tarrifDetail{
    border-radius: 5px;
    border: 1px solid black;
    padding: 1% 2%;
    margin-bottom: 2%;
}

#payNow{
    padding-bottom: 10%;
    text-decoration: none;
    color: black;
}